<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/styles/nav.css">
    <link rel="stylesheet" href="../public/styles/footer.css">
    <link rel="stylesheet" href="../public/styles/careers.css">
    <title>Careers</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark bg-dark text-white fs-5">
            <div class="container-fluid text-white">
                <a class="navbar-brand text-white" href="#">
                    <img class="img-fluid image-logo" src="../public/images/logos/logo.jpg" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-justify-content" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="./about.html">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Web Development</a></li>
                                <li><a class="dropdown-item" href="#">App Develpemnt</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="./careers.html">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="./contact.html">Contact</a>
                        </li>
                        <li><a class="button-social-media"
                                href="https://www.facebook.com/profile.php?id=100072822087652" target="_blank"><img
                                    draggable="false"
                                    src="https://img.icons8.com/ios-glyphs/30/ffffff/facebook.png" /></a></li>
                        <li><a class="button-social-media"
                                href="https://www.linkedin.com/in/digitranit-software-solutions-private-limited-a11783221"
                                target="_blank"><img draggable="false"
                                    src="https://img.icons8.com/ios-glyphs/30/ffffff/linkedin.png" /></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>




    <section class="careers-section">
        <h1>Join us in the quest for digital perfection</h1>
        <div class="image-career-side">
            <div class="img-left-side html">
                <img src="../public/images/img/html.png" alt="">
            </div>
            <div class="img-left-side css">
                <img src="../public/images/img/css.png" alt="">
            </div>
            <div class="img-left-side javascript">
                <img src="../public/images/img/javascript.png" alt="">
            </div>
            <div class="img-left-side node">
                <img src="../public/images/img/node_js.png" alt="">
            </div>
            <div class="img-left-side apple">
                <img src="../public/images/img/apple.png" alt="">
            </div>
            <div class="img-left-side linux">
                <img src="../public/images/img/linux.png" alt="">
            </div>
            <div class="img-left-side android">
                <img src="../public/images/img/android.png" alt="">
            </div>
            <div class="img-left-side microsoft">
                <img src="../public/images/img/microsoft.png" alt="">
            </div>
        </div>
        <p>Each employee at Tranxit Technology Solutions experiences infinite team diversity, career advancement, access
            to next-gen tech & thought leadership, working alongside industry leaders, and a whole lot more.</p>
        <h2>Why Work with us?</h2>
        <p>At Tranxit Technology Solutions, we strive to create a comfortable environment for our employees by following
            the simple philosophy “Absolute work-life balance.” With flexible working hours, employee assistance
            programs, and holiday benefits, we ensure you live your life beyond work, always. Need we say more?</p>
    </section>


    <section class="career-second-section">
        <h1>Why Work with us?</h1>
        <div class="career-main-div">
            <div class="career-div">
                <div class="career-div-content">
                    <h3>Postion 1</h3>
                    <span></span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, sapiente.</p>
                </div>
            </div>
            <div class="career-div">
                <div class="career-div-content">
                    <h3>Postion 1</h3>
                    <span></span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, sapiente.</p>
                </div>
            </div>
            <div class="career-div">
                <div class="career-div-content">
                    <h3>Postion 1</h3>
                    <span></span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, sapiente.</p>
                </div>
            </div>
            <div class="career-div">
                <div class="career-div-content">
                    <h3>Postion 1</h3>
                    <span></span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, sapiente.</p>
                </div>
            </div>
            <div class="career-div">
                <div class="career-div-content">
                    <h3>Postion 1</h3>
                    <span></span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, sapiente.</p>
                </div>
            </div>
            <div class="career-div">
                <div class="career-div-content">
                    <h3>Postion 1</h3>
                    <span></span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, sapiente.</p>
                </div>
            </div>
        </div>
    </section>





    <footer>
        <div class="footer-main-div">
            <div class="footer-first-div">
                <p>+91 97911 01817</p>
                <p>admin@digitranit.com</p>
                <p>Whatever the address is supposed to be here!</p>
            </div>
            <div class="footer-second-div">
                <p class="footer-first-ptag">
                    <img src="https://img.icons8.com/color/48/000000/facebook-new.png" />
                    <img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" />
                </p>
                <p class="footer-second-ptag">
                    © Copyrights 2021 Tranxit All rights reserved.
                    Terms And Conditions / Privacy Policy / Refund Policy
                </p>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    
</body>

</html>